<?xml version="1.0"?>

<model>
  <name>mymodel</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.4">model-1.4.sdf</sdf>

  <author>
    <name>Jakub Chmielewski</name>
    <email>kchmielewski707@gmail.com</email>
  </author>

  <description>
    Random model for learning.
  </description>
</model>

